.App {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppBar {
  height: 64px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.AppBar-title {
  flex: 1;
  font-size: 2em;
}

.Page {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.Menu {
  height: 64px;
  background-color: #ebebeb;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
}

.match-parent {
  width: 100%;
  height: 100%;
}

.SubPage {
  flex: 1;
  padding: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.LoginScreen {
  max-width: 300px;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
